<div class="row">
  <%= render "shared/profilebar" %>
</div>

<%= current_user.liked_photos.count %>

<% current_user.liked_photos.each do |photo| %>
  <%= render "photos/photo", photo: photo %>

<% end %>
